<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header class="bg-white shadow max-w-full min-h-full">
        <div class="flex ax-w-3xl md:mx-auto py-6 sm:px-6 lg:px-8 space-x-6">
          <a href="/">
            <img class="inline" th:src="@{/assets/img/CACAMUCA.svg}" />
          </a>
          <a class="px-20 mb-4 text-7xl tracking-tight font-extrabold lg:text-5xl text-blue-500 dark:text-primary-500">
              관리자 페이지
          </a>
        </div>
    </header>
</body>
</html>