<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <aside id="default-sidebar" class="absolute top-30 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
      <div class="h-full px-3 py-4 overflow-y-auto bg-blue-200">
        <ul class="space-y-2 font-medium">
          <li>
            <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-blue-100 dark:hover:bg-gray-700 group">
              <span class="ml-3">회원목록</span>
            </a>
          </li>
          <li>
            <a href="/admin-page/report-list" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-blue-100 dark:hover:bg-gray-700 group">
              <span class="ml-3">신고내역</span>
            </a>
          </li>
          <li>
            <a href="/member/my-page" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-blue-100 dark:hover:bg-gray-700 group">
              <span class="flex-1 ml-3 whitespace-nowrap">통계</span>
            </a>
          </li>
          <li>
            <a href="/member/my-password" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-blue-100 dark:hover:bg-gray-700 group">
              <span class="flex-1 ml-3 whitespace-nowrap">식품등록</span>
            </a>
          </li>
        </ul>
      </div>
    </aside>
</body>
</html>