<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
</head>
<body>
<!--
This example requires updating your template:

```
<html class="h-full bg-blue-100">
<body class="h-full">
```
-->
<!-- https://tailwindui.com/components/application-ui/application-shells/stacked -->
<div class=" max-w-full min-h-full">
    <header class="bg-white shadow">
        <div class="flex ax-w-3xl md:mx-auto py-6 sm:px-6 lg:px-8 space-x-6">
            <!--                <img class="inline" src="../../static/assets/img/CACAMUCA.svg" alt="cacamuca">-->
            <a href="/">
                <img class="inline" th:src="@{/assets/img/CACAMUCA.svg}" />
            </a>
            <form class="flex">
                <input type="text" id="search" name="search" class="w-96 pl-9 pr-3 rounded-l-lg text-sm text-gray-900 bg-gray-100 border-l-gray-200 border-l-2 border border-gray-300" required>
                <button type="submit" class="font-medium text-white bg-blue-700 rounded-r-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <a href="/">
                        <svg class="w-10 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                    </a>
                </button>
            </form>
            <div class="grow"></div>
            <div class="flex items-center gap-x-6">
                <!--                    <p th:text="${#authentication.name}"></p>-->
                <a sec:authorize="isAnonymous()" href="/member/registration" class="rounded-md bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">회원가입</a>
                <a sec:authorize="isAnonymous()" href="/member/login" class="rounded-md bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">로그인</a>
                <a sec:authorize="hasAnyRole('ROLE_MEMBER')" href="/logout" class="rounded-md bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">로그 아웃</a>
                <a sec:authorize="hasAnyRole('ROLE_MEMBER')" href="/member/my-page" class="rounded-md bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">마이페이지</a>
                <a sec:authorize="hasAnyRole('ROLE_MEMBER')" href="review" class="rounded-md bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">리뷰쓰기</a>
                <a sec:authorize="hasAnyRole('ROLE_MEMBER')" href="/request" class="rounded-md bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">식품 등록 요청</a>
                <a sec:authorize="hasAnyRole('ROLE_MEMBER')" href="/report" class="rounded-md bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">신고</a>
            </div>
        </div>
    </header>
    <nav class="bg-blue-200">
        <div class="max-w-screen-xl items-center justify-between mx-auto p-4">
            <div class="bg-blue-200 hidden w-full md:block md:w-auto" id="navbar-dropdown">
                <ul class="bg-blue-200 flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-blue-200 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <button id="dropdownAsiaLink" data-dropdown-toggle="dropdownAsia" class="ml-8 bg-blue-200 flex items-center justify-between w-full py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">아시아<svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                        </svg></button>
                        <div id="dropdownAsia" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">한국(KOREA)</a>
                                </li>
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">일본(JAPAN)</a>
                                </li>
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">대만(TAIWAN)</a>
                                </li>
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">베트남(VIETNAM)</a>
                                </li>
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">필리핀(PHILIPPINES)</a>
                                </li>
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">태국(THAILAND)</a>
                                </li>
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">말레이시아(MALAYSIA)</a>
                                </li>
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">인도(INDIA)</a>
                                </li>
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">튀르기예(TURKIYE)</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <button id="dropdownEuropeLink" data-dropdown-toggle="dropdownEurope" class="ml-24 w-full bg-blue-200 flex items-center justify-between w-full py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">유럽<svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                        </svg></button>
                        <!-- Dropdown menu -->
                        <div id="dropdownEurope" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">프랑스(FRANCE)</a>
                                </li>
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">독일(GERMANY)</a>
                                </li>
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">벨기에(BELGIUM)</a>
                                </li>
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">스웨덴(SWEDEN)</a>
                                </li>
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">이탈리아(ITALIA)</a>
                                </li>
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">폴란드(POLAND)</a>
                                </li>
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">스위스(SWISS)</a>
                                </li>
                            </ul>
                        </div>
                    </li>


                    <li>
                        <button id="dropdownNorthALink" data-dropdown-toggle="dropdownNorthA" class="ml-24 w-full bg-blue-200 flex items-center justify-between w-full py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">북아메리카<svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                        </svg></button>
                        <!-- Dropdown menu -->
                        <div id="dropdownNorthA" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">미국(USA)</a>
                                </li>
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">캐나다(CANADA)</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <button id="dropdownOceaniaLink" data-dropdown-toggle="dropdownOceania" class="ml-24 w-full bg-blue-200 flex items-center justify-between w-full py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">오세아니아<svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                        </svg></button>
                        <!-- Dropdown menu -->
                        <div id="dropdownOceania" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">호주(AUSTRALIA)</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <button id="dropdownEtcLink" data-dropdown-toggle="dropdownEtc" class="ml-24 w-full bg-blue-200 flex items-center justify-between w-full py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">그 외<svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                        </svg></button>
                        <!-- Dropdown menu -->
                        <div id="dropdownEtc" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                                <li>
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">기타국가</a>
                                </li>
                            </ul>
                        </div>
                    </li>


                    <li>
                        <button id="myPage" class="ml-24 w-full bg-blue-200 flex items-center justify-between w-full py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">마이페이지</button>
                    </li>

                </ul>
            </div>
        </div>

</div>
</div>
<!--                    <div class="-mr-2 flex md:hidden">-->
<!--                        &lt;!&ndash; Mobile menu button &ndash;&gt;-->
<!--                        <button type="button" class="inline-flex items-center justify-center rounded-md bg-blue-800 p-2 text-gray-400 hover:bg-blue-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" aria-controls="mobile-menu" aria-expanded="false">-->
<!--                            <span class="sr-only">Open main menu</span>-->
<!--                            &lt;!&ndash; Menu open: "hidden", Menu closed: "block" &ndash;&gt;-->
<!--                            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">-->
<!--                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />-->
<!--                            </svg>-->
<!--                            &lt;!&ndash; Menu open: "block", Menu closed: "hidden" &ndash;&gt;-->
<!--                            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">-->
<!--                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />-->
<!--                            </svg>-->
<!--                        </button>-->
<!--                    </div>-->
</div>
</div>

<!-- Mobile menu, show/hide based on menu state. -->
<!--            <div class="md:hidden" id="mobile-menu">-->
<!--                <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">-->
<!--                    &lt;!&ndash; Current: "bg-blue-900 text-white", Default: "text-gray-300 hover:bg-blue-700 hover:text-white" &ndash;&gt;-->
<!--                    <a href="#" class="bg-blue-900 text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Dashboard</a>-->
<!--                    <a href="#" class="text-black hover:bg-blue-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Team</a>-->
<!--                    <a href="#" class="text-black hover:bg-blue-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Projects</a>-->
<!--                    <a href="#" class="text-black hover:bg-blue-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Calendar</a>-->
<!--                    <a href="#" class="text-black hover:bg-blue-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Reports</a>-->
<!--                </div>-->
<!--                <div class="border-t border-gray-700 pb-3 pt-4">-->
<!--                    <div class="flex items-center px-5">-->
<!--                        <div class="flex-shrink-0">-->
<!--                            <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">-->
<!--                        </div>-->
<!--                        <div class="ml-3">-->
<!--                            <div class="text-base font-medium leading-none text-white">Tom Cook</div>-->
<!--                            <div class="text-sm font-medium leading-none text-gray-400">tom@example.com</div>-->
<!--                        </div>-->
<!--                        <button type="button" class="ml-auto flex-shrink-0 rounded-full bg-blue-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">-->
<!--                            <span class="sr-only">View notifications</span>-->
<!--                            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">-->
<!--                                <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />-->
<!--                            </svg>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="mt-3 space-y-1 px-2">-->
<!--                        <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-blue-700 hover:text-white">Your Profile</a>-->
<!--                        <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-blue-700 hover:text-white">Settings</a>-->
<!--                        <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-blue-700 hover:text-white">Sign out</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
</nav>
</div>
</body>
</html>