<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .rating_box {
            display: flex;
        }

        .rating {
            position: relative;
            color: #ddd;
            font-size: 30px;
            text-align: center;
        }

        .rating input {
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }

        .rating_star {
            width: 0;
            color: #ffc107;
            position: absolute;
            left: 0;
            right: 0;
            overflow: hidden;
            pointer-events: none;
        }

        #reviewContents {
            width: 100%;
            height: 150px;
            padding: 10px;
            box-sizing: border-box;
            border: solid 1.5px #D3D3D3;
            border-radius: 5px;
            font-size: 16px;
            resize: none;
        }
        .review {
            position: relative;
            top: 80px;
            left: 250px;
        }

        #my_modal {
            display: none;
            width: 300px;
            padding: 20px 60px;
            background-color: #fefefe;
            border: 1px solid #888;
            border-radius: 3px;
        }

        #my_modal .modal_close_btn {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .report_button{
            /*right: 15px;*/
            /*position: absolute;*/
            color: red;
        }

        #modal {
            position: fixed;
        }

    </style>

    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/fonts.css}" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
</head>
<body>
<th:block th:insert="~{common/header}"/>


<form class="review">
    <input type="text" th:value="${review.country}" class="w-55 gap-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" readonly />
    <input type="text" th:value="${review.foodType}" class="w-55 gap-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" readonly/>
    <input type="text" th:value="${review.reviewKeyword}" class="w-55 gap-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" readonly/>
    <input type="text" th:value="${review.foodName}" class="w-55 gap-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" readonly/>
    <input type="text" th:value="${review.reviewPrice}" class="w-55 gap-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" readonly/>
    <input type="text" th:value="${review.reviewLink}" class="w-55 gap-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" readonly/>
    <input type="text" th:value="${review.reviewDate}" class="w-55 gap-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" readonly/>

<!--    <div id="my_modal">-->
<!--        <select name="report_reason" onchange="showInputForm(this.value)" class="w-55 gap-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">-->
<!--            <option value="none">=== 선택 ===</option>-->
<!--            <option value="1">관련없는 리뷰 작성</option>-->
<!--            <option value="2">욕성 및 비방</option>-->
<!--            <option value="3">음란 및 유해</option>-->
<!--            <option value="4">광고 및 홍보</option>-->
<!--            <option value="5">기타</option>-->
<!--        </select>-->

<!--        <div id="inputForm" style="display: none;">-->
<!--            <textarea name="other_reason" placeholder="기타 사유를 입력하세요" rows="3" class="w-55 gap-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>-->
<!--        </div>-->

<!--        <a class="modal_close_btn">X</a>-->
<!--        <button type="button" onclick="clickReport()">신고하기</button>-->
<!--    </div>-->
    <button type="button" id="reportButton" onclick="showModal('modal')" class="py-2 px-4 bg-blue-500 text-white  rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
        신고하기
    </button>

    <div class="rating_box">
        <div class="rating">
            ★★★★★
            <span class="rating_star">★★★★★</span>
            <input name="reviewRate" type="range" step="1" min="0" max="10" th:value="${review.reviewRate}" readonly>
        </div>
    </div>

    <div class="absolute top-20 left-0 w-3/4 mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
        <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
            <textarea name="reviewContent" th:value="${review.reviewContent}" th:text="${review.reviewContent}" id="reviewContent" rows="10" class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" readonly></textarea>
        </div>
        <div>
            <input type="hidden" id="like_check">
            <img id="likeImg" src="/assets/img/empty_heart.png" width="30px" height="30px" onclick="clickHeart()">
            <span id="likeText" th:text="${review.likeCnt}"></span>
        </div>
        <div class="flex items-center justify-between px-3 py-2 border-t dark:border-gray-600">
            <button type="button" onclick="location.href='/selectReviews'" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">목록으로</button>
        </div>

        <th:block th:if="${reviewPic eq null}"/>

        <th:block th:unless="${reviewPic eq null}">
            <div class="absolute top-450 left-0 w-3/4 mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
                    <img th:src="@{|/review/${reviewPic.reviewPicUrl}|}" width="300" height="250" alt="Image">
                </div>
            </div>
        </th:block>
    </div>
    <div id="modal_bg" class="fixed inset-0 bg-gray-800 bg-opacity-60 transition-opacity hidden"></div>
    <div id="modal" tabindex="-1" class="z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-md max-h-full">
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <button type="button" onclick="hideModal('modal')" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>

                <div class="px-6 py-4 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-base font-semibold text-gray-900 lg:text-xl dark:text-white">
                        리뷰 신고하기
                    </h3>
                </div>

                <div class="p-6">
                    <p class="text-sm font-normal text-gray-500 dark:text-gray-400">까까무까를 이용해주셔서 감사합니다!</p>
                    <p class="text-sm font-normal text-gray-500 dark:text-gray-400">이 리뷰를 신고하는 이유를 선택해주세요.</p>

                    <ul id="reportForm" class="my-4 space-y-3">
                        <li>
                            <label class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                                <input type="radio" name="report_type" value="1">&nbsp;폭력적 또는 혐오스러운 리뷰
                            </label>
                        </li>
                        <li>
                            <label class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                                <input type="radio" name="report_type" value="2">&nbsp;스팸 또는 광고성 리뷰
                            </label>
                        </li>
                        <li>
                            <label class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                                <input type="radio" name="report_type" value="3">&nbsp;타인을 비방하는 리뷰
                            </label>
                        </li>
                        <li>
                            <label class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
                                <input type="radio" name="report_type" value="4">&nbsp;악의적인 리뷰
                            </label>
                        </li>
                    </ul>
                    <button type="button" onclick="submitReport()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        신고 제출
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

    <script>
        let noValue = `[[${no}]]`;
        let memberValue = `[[${member}]]`;
        const reportReason = document.querySelector('#my_modal select[name="report_reason"]').value;

        function showInputForm(value) {
            var inputForm = document.getElementById("inputForm");
            if (value === "5") {
                inputForm.style.display = "block";
            } else {
                inputForm.style.display = "none";
            }
        }

        function clickHeart () {
            console.log('하트가 클릭되었습니다.');
            document.getElementById("likeImg").src = "/assets/img/heart.png";

            axios({
                method: 'post',
                url: '/review/reviewDetail',
                data: {
                    no: noValue,
                    member: memberValue
                }
            }).then(function (response) {
                console.log(response.data.no);
                console.log(response.data.member);
            });
        }

        function showModal(id) {
            const modalBg = document.getElementById("modal_bg");
            const modal = document.getElementById(id);
            modalBg.classList.remove('hidden');
            modal.classList.remove('hidden');
        }

        function hideModal(id) {
            const modalBg = document.getElementById("modal_bg");
            const modal = document.getElementById(id);
            modalBg.classList.add('hidden');
            modal.classList.add('hidden');
        }

        function submitReport() {
            const form = document.getElementById('reportForm');
            const reportTypeValue = form.querySelector('input[name="report_type"]:checked').value;

            const data = {
                reportType: reportTypeValue,
                reportedMemberNo: memberValue,
                reviewNo: noValue,
            };

            axios.post("/report", data)
                .then(response => {
                    hideModal('modal');
                    alert("정상적으로 신고되었습니다!");
                }).catch(error => {
                console.error('Failed to submit report.', error);
                hideModal('modal');
            });
        }

    </script>


<!--<script>-->
<!--    function modal(id) {-->
<!--        var zIndex = 9999;-->
<!--        var modal = document.getElementById(id);-->

<!--        var bg = document.createElement('div');-->
<!--        bg.setStyle({-->
<!--            position: 'fixed',-->
<!--            zIndex: zIndex,-->
<!--            left: '0px',-->
<!--            top: '0px',-->
<!--            width: '100%',-->
<!--            height: '100%',-->
<!--            overflow: 'auto',-->
<!--            // 레이어 색갈은 여기서 바꾸면 됨-->
<!--            backgroundColor: 'rgba(0,0,0,0.4)'-->
<!--        });-->
<!--        document.body.append(bg);-->

<!--        // 닫기 버튼 처리, 시꺼먼 레이어와 모달 div 지우기-->
<!--        modal.querySelector('.modal_close_btn').addEventListener('click', function() {-->
<!--            bg.remove();-->
<!--            modal.style.display = 'none';-->
<!--        });-->

<!--        modal.setStyle({-->
<!--            position: 'fixed',-->
<!--            display: 'block',-->
<!--            boxShadow: '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)',-->

<!--            zIndex: zIndex + 1,-->

<!--            top: '50%',-->
<!--            left: '50%',-->
<!--            transform: 'translate(-50%, -50%)',-->
<!--            msTransform: 'translate(-50%, -50%)',-->
<!--            webkitTransform: 'translate(-50%, -50%)'-->
<!--        });-->
<!--    }-->


<!--    Element.prototype.setStyle = function(styles) {-->
<!--        for (var k in styles) this.style[k] = styles[k];-->
<!--        return this;-->
<!--    };-->

<!--    document.getElementById('popup_open_btn').addEventListener('click', function() {-->
<!--        modal('my_modal');-->
<!--    });-->
<!--</script>-->

<script>

    const rating_input = document.querySelector('.rating input');
    const rating_star = document.querySelector('.rating_star');


    rating_star.style.width = `${rating_input.value * 10}%`;

    rating_input.addEventListener('input', () => {
        rating_star.style.width = `${rating_input.value * 10}%`;
    });
</script>
</body>
</html>