<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/fonts.css}" />
</head>
<body>
    <th:block th:insert="~{common/adminHeader}" />
    <th:block th:insert="~{common/adminAside}" />
    <main class="p-4 sm:ml-64">
        <div class="">
            <h1 class="px-1 mb-4 text-7xl tracking-tight font-extrabold lg:text-3xl text-gray-900 ">식품 리스트</h1>
                <div style="display: inline-block">
<!--                    <div>-->
<!--                        <button onclick="location.href='/food/food-regist'" type="submit" id="food-regist" data-modal-target="createProductModal" data-modal-toggle="createProductModal" class="flex items-center justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">-->
<!--                            <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">-->
<!--                                <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />-->
<!--                            </svg>-->
<!--                            식품 추가-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
        </div>

        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500 ">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th></th>
                    <th scope="col" class="px-6 py-3">식품 번호</th>
                    <th scope="col" class="px-6 py-3">식품명</th>
                    <th scope="col" class="px-6 py-3">국가 카테고리</th>
                    <th scope="col" class="px-6 py-3">식품 유형</th>
                    <th scope="col" class="px-6 py-3">식품 평점</th>
                    <th scope="col" class="px-6 py-3">식품 가격</th>
                    <th scope="col" class="px-6 py-3"></th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr th:each="food : ${ foods }" class="bg-white border-b  ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap "></th>
                    <td th:text="${food.foodNo}" class="px-6 py-4"></td>
                    <td th:text="${food.foodName}" class="px-6 py-4"></td>
                    <td th:text="${food.country}" class="px-6 py-4"></td>
                    <td th:text="${food.foodType}" class="px-6 py-4"></td>
                    <td th:text="${food.foodRate}" class="px-6 py-4"></td>
                    <td th:text="${food.foodPrice}" class="px-6 py-4"></td>
                    <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap ">
<!--                        <div class="flex items-center space-x-4">-->
<!--                            <button type="button" data-drawer-target="drawer-read-product-advanced" data-drawer-show="drawer-read-product-advanced" aria-controls="drawer-read-product-advanced" class="py-2 px-3 flex items-center text-sm font-medium text-center text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-2 -ml-0.5">-->
<!--                                    <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />-->
<!--                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" />-->
<!--                                </svg>-->
<!--                                상세페이지-->
<!--                            </button>-->
<!--                            <button type="button" data-drawer-target="drawer-update-product" data-drawer-show="drawer-update-product" aria-controls="drawer-update-product" class="py-2 px-3 flex items-center text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2 -ml-0.5" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">-->
<!--                                    <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />-->
<!--                                    <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />-->
<!--                                </svg>-->
<!--                                수정하기-->
<!--                            </button>-->
<!--                            <button type="button" data-modal-target="delete-modal" data-modal-toggle="delete-modal" class="flex items-center text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-2 text-center">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2 -ml-0.5" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">-->
<!--                                    <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />-->
<!--                                </svg>-->
<!--                                삭제하기-->
<!--                            </button>-->
<!--                        </div>-->
                    </td>

                </tr>
                </tbody>
            </table>
        </div>

    </main>

</body>
</html>