<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<th:block th:insert="~{common/header}" />
<th:block th:insert="~{common/adminAside}" />

<form action="food-regist" method="post" enctype="multipart/form-data">
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
      <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">식품 등록</h2>
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div>
          <label for="country" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">국가 카테고리</label>
          <select id="country" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
            <option value="none">국가 선택</option>
            <option value="한국">한국</option>
            <option value="대만">대만</option>
            <option value="독일">독일</option>
            <option value="말레이시아">말레이시아</option>
            <option value="미국">미국</option>
            <option value="베트남">베트남</option>
            <option value="벨기에">벨기에</option>
            <option value="스웨덴">스웨덴</option>
            <option value="스위스">스위스</option>
            <option value="영국">영국</option>
            <option value="이탈리아">이탈리아</option>
            <option value="인도">인도</option>
            <option value="일본">일본</option>
            <option value="캐나다">캐나다</option>
            <option value="태국">태국</option>
            <option value="튀르키예">튀르키예</option>
            <option value="폴란드">폴란드</option>
            <option value="프랑스">프랑스</option>
            <option value="필리핀">필리핀</option>
            <option value="호주">호주</option>
          </select>
        </div>
        <div>
          <label for="foodType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">식품 유형</label>
          <select id="foodType" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
            <option value="none">종류 선택</option>
            <option value="과자">과자</option>
            <option value="빵">빵</option>
            <option value="사탕">사탕</option>
            <option value="음료">음료</option>
            <option value="젤리">젤리</option>
            <option value="초콜릿">초콜릿</option>
            <option value="커피">커피</option>
            <option value="차">차</option>
          </select>
        </div>
        <div class="w-full">
          <label for="foodName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">식품명</label>
          <input type="text" name="foodName" id="foodName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="식품명 입력" required="">
        </div>
        <div class="w-full">
          <label for="foodPrice" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">식품 가격</label>
          <input type="number" name="foodPrice" id="foodPrice" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="가격 입력" required="">
        </div>
        <div class="flex items-center justify-center sm:col-span-2" id="preview-container">
          <label for="foodPic" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50">
            <input multiple="multiple" name="foodPic" id="foodPic" onchange="previewImages(event)" type="file" class="hidden" />
              <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg class="w-8 h-8 mb-4 text-gray-500 d" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                </svg>
                <p class="mb-2 text-sm text-gray-500 "><span class="font-semibold">Click to upload</span> or drag and drop</p>
                <p class="text-xs text-gray-500 ">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
              </div>
          </label>
        </div>
        <div class="flex items-center justify-center sm:col-span-2">
          <button onclick="location.href='/food/food-list'" type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200">
            식품 등록
          </button>
        </div>
      </div>
    </div>
  </section>
</form>

<script>
  function previewImages(event) {
    var previewContainer = document.getElementById('preview-container');
    var files = event.target.files;
    previewContainer.style.display = "block";

    previewContainer.innerHTML = '';
    for (var i = 0; i < files.length; i++) {
      var file = files[i];
      var reader = new FileReader();

      reader.onload = function (event) {
        var imageUrl = event.target.result;
        var imageElement = document.createElement('img');

        imageElement.src = imageUrl;
        imageElement.classList.add('preview-image');

        previewContainer.appendChild(imageElement);
      }

      reader.readAsDataURL(file);
    }
  }
</script>





</body>
</html>