<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/datepicker.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <div class="flex min-h-full flex-col justify-center px-8 py-12 lg:px-8">
    <div class="flex justify-center lg:mx-auto lg:w-full lg:max-w-lg">
        <a href="/">
            <img class="inline" th:src="@{/assets/img/CACAMUCA.svg}" />
        </a>
    </div>

    <div class="mt-10 sm:mx-auto lg:w-full lg:max-w-lg">
      <div>
        <div class="mt-2 flex items-center w-full">
          <input id="email" name="email" type="email" required placeholder="이메일" autocomplete="off" class="flex w-full p-2 py-2 rounded-l-lg border-0  text-gray-900 shadow-sm ring-1 ring-inset ring-gray-500 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div>
        <button id="submit" onclick="submit()" class="flex w-full justify-center rounded-md bg-blue-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-500">아아디찾기</button>
      </div>
      <div class="inline flex">
        <div class="inline flex justify-start text-sm">
          <a href="/member/find-password-page" class="flex justify-start font-semibold text-blue-500 hover:text-blue-700">PASSWORD 찾기</a>
        </div>
        <div class="grow"></div>
        <div class="inline flex justify-end">
          <a href="/member/login" class="flex justify-end font-semibold leading-6 text-blue-500 hover:text-blue-700">로그인</a>
        </div>
      </div>
    </div>
  </div>
  <script th:src="@{/js/findId.js}"></script>
</body>
</html>