<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 align="center">카테고리 및 식품 수정 페이지</h1>
<h3>카테고리 수정</h3>
<form action="/update-category" method="post">
    국가 카테고리 :
    <select name="country">
        <option value="none">=== 선택 ===</option>
        <option value="ko">한국</option>
        <option value="tw">대만</option>
        <option value="de">독일</option>
        <option value="my">말레이시아</option>
        <option value="us">미국</option>
        <option value="vn">베트남</option>
        <option value="be">벨기에</option>
        <option value="se">스웨덴</option>
        <option value="ch">스위스</option>
        <option value="gb">영국</option>
        <option value="it">이탈리아</option>
        <option value="in">인도</option>
        <option value="jp">일본</option>
        <option value="ca">캐나다</option>
        <option value="th">태국</option>
        <option value="tr">튀르키예</option>
        <option value="pl">폴란드</option>
        <option value="fr">프랑스</option>
        <option value="ph">필리핀</option>
        <option value="au">호주</option>
    </select>
        &nbsp;  &nbsp; 수정할 내용 : <input type="text" name="replaceCountry" required>
    <br>
    <br>
        식품 카테고리 :
        <select name="foodType">
            <option value="none">=== 선택 ===</option>
            <option value="snack">과자</option>
            <option value="bread">빵</option>
            <option value="candy">사탕</option>
            <option value="drink">음료</option>
            <option value="jelly">젤리</option>
            <option value="chocolate">초콜릿</option>
            <option value="coffee">커피</option>
            <option value="tea">차</option>
        </select>
            &nbsp;  &nbsp; 수정할 내용 : <input type="text" name="replaceFoodType" required>
    <button type="submit" onclick="location.href='/category/categoryUpdateResult'">수정</button>
            <br>

        </form><br>
        <br>
        <br>

</body>
</html>