<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/css/fonts.css}" />
    <style>
        .body {
            padding-top: 40px;
            padding-left: 400px;
        }
        .nav {
            padding-top: 30px;
        }

    </style>
</head>
<body>
    <th:block th:insert="~{common/adminHeader}" />
    <th:block th:insert="~{common/adminAside}" />
    <div class="body">

        <form action="update" method="post">
            <section class="bg-white dark:bg-gray-900">
                <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
                    <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">카테고리 수정</h2>
                    <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                        <div>
                            <label for="country" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">국가 카테고리</label>
                            <select id="country" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                <option value="none">국가 선택</option>
                                <option value="한국">한국</option>
                                <option value="대만">대만</option>
                                <option value="독일">독일</option>
                                <option value="말레이시아">말레이시아</option>
                                <option value="미국">미국</option>
                                <option value="베트남">베트남</option>
                                <option value="벨기에">벨기에</option>
                                <option value="스웨덴">스웨덴</option>
                                <option value="스위스">스위스</option>
                                <option value="영국">영국</option>
                                <option value="이탈리아">이탈리아</option>
                                <option value="인도">인도</option>
                                <option value="일본">일본</option>
                                <option value="캐나다">캐나다</option>
                                <option value="태국">태국</option>
                                <option value="튀르키예">튀르키예</option>
                                <option value="폴란드">폴란드</option>
                                <option value="프랑스">프랑스</option>
                                <option value="필리핀">필리핀</option>
                                <option value="호주">호주</option>
                            </select>
                        </div>

                        <div>
                            <div>
                                <label for="replaceFoodName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">수정 국가명 입력</label>
                                <input type="text" name="replaceFoodName" id="replaceFoodName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="수정 국가명 입력" required="">
                            </div>
                        </div>

                        <div>
                            <label for="foodType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">식품 유형</label>
                            <select id="foodType" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                <option value="none">종류 선택</option>
                                <option value="과자">과자</option>
                                <option value="빵">빵</option>
                                <option value="사탕">사탕</option>
                                <option value="음료">음료</option>
                                <option value="젤리">젤리</option>
                                <option value="초콜릿">초콜릿</option>
                                <option value="커피">커피</option>
                                <option value="차">차</option>
                            </select>
                        </div>

                        <div>
                            <div>
                                <label for="replaceFoodType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">수정 식품 유형 입력</label>
                                <input type="text" name="replaceFoodType" id="replaceFoodType" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="수정 식품 유형 입력" required="">
                            </div>
                        </div>
                        <div class="flex items-center justify-center sm:col-span-2">
                            <button onclick="location.href='/category/category-list'" type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200">
                                카테고리 수정
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>

</body>
</html>