<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 요청 조회</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/css/fonts.css}" />
    <style>
        .body {
            padding-top: 30px;
            padding-left: 400px;
        }
        .nav {
            padding-top: 30px;
            padding-left: 400px;
        }

    </style>
</head>

<body>
<th:block th:insert="~{common/adminHeader}" />
<th:block th:insert="~{common/adminAside}" />

<div class="body">

    <div class="mb-6">
        <label for="success" class="block mb-2 text-sm font-medium text-green-700">현재 사용자 평가 점수 :</label>
        <input type="text" id="success" readonly class="bg-green-50 border border-green-500 text-green-900 placeholder-green-700 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block p-2.5" th:placeholder="${reviewAvg}">
        <p class="mt-2 text-sm text-green-600"><span class="font-medium">더욱 분발합시다!</span></p>
    </div>

    <table class="w-4/5 text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
            <th scope="col" class="px-6 py-3">APP REVIEW NO</th>
            <th scope="col" class="px-6 py-3">MEMBER NO</th>
            <th scope="col" class="px-6 py-3">MEMBER NICKNAME</th>
            <th scope="col" class="px-6 py-3">REVIEW RATE</th>
            <th scope="col" class="px-6 py-3">REVIEW CONTENT</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="list : ${appReview}" scope="col" class="px-6 py-3">
            <th scope="row" class="px-6 py-4" th:text="${list.appReviewNo}"/></th>
            <th scope="row" class="px-6 py-4" th:text="${list.memberNo}"/></th>
            <th scope="row" class="px-6 py-4" th:text="${list.memberNickname}"/></th>
            <th scope="row" class="px-6 py-4" th:text="${list.appReviewRate}"/></th>
            <th scope="row" class="px-6 py-4" th:text="${list.appReviewContent}"/></th>
        </tr>
        </tbody>

    </table>

    <nav class="w-3/4 flex items-center justify-between pt-4" aria-label="Table navigation" >
            <span class="text-sm font-normal text-gray-500 ml-10 mb-15">Showing
                <span class="font-semibold text-gray-900   " th:text="${appReview.getPageable().getOffset()} + 1" /> -
                <span class="font-semibold text-gray-900   " th:text="${ appReview.getPageable().offset} + ${appReview.getNumberOfElements()}" /> of
                <span class="font-semibold text-gray-900   " th:text="${ appReview.getTotalElements()}" />
            </span>
        <ul class="inline-flex -space-x-px text-sm h-8">
            <li>
                <a id="previousButton" href="" class="flex items-center justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700">이전</a>
            </li>
            <li>
                <a id="page1Button" href="" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"></a>
            </li>
            <li>
                <a id="page2Button" href="" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"></a>
            </li>
            <li>
                <a id="page3Button" href="" aria-current="page"  class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"></a>
            </li>
            <li>
                <a id="page4Button" href="" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"></a>
            </li>
            <li>
                <a id="page5Button" href="" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"></a>
            </li>
            <li>
                <a id="nextButton" href="" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700">다음</a>
            </li>
        </ul>
        <span class="text-sm font-normal text-gray-500    mr-10"> total pages :
                <span class="font-semibold text-gray-900   " th:text="${ appReview.getTotalPages()}" id="totalPages"/>
            </span>
    </nav>

    </div>
</div>
</body>
<script>

    const urlParams = new URLSearchParams(window.location.search);
    const currentPage = parseInt(urlParams.get('page') || 0);
    const totalPagesInt = parseInt(document.getElementById('totalPages').innerText) - 1;
    const pageButtons = document.querySelectorAll('[id^="page"]');

    pageButtons.forEach((button, index) => {
        const pageNumber = currentPage - 2 + index;

        button.href = `/admin-page/app-review?page=${pageNumber}`;
        button.innerText = pageNumber + 1;

        if (pageNumber === currentPage) {
            button.style.backgroundColor = '#C3DDFD';
        }

        if (pageNumber < 0 || pageNumber > totalPagesInt) {
            button.style.display = 'none';
        }
    });

    const previousButton = document.getElementById('previousButton');
    const nextButton = document.getElementById('nextButton');

    previousButton.href = `/admin-page/app-review?page=${currentPage - 1}`;
    previousButton.style.pointerEvents = currentPage === 0 ? 'none' : 'auto';
    nextButton.href = `/admin-page/app-review?page=${currentPage + 1}`;
    nextButton.style.pointerEvents = currentPage === totalPagesInt ? 'none' : 'auto';
</script>
</html>