<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<th:block th:insert="~{common/header}" />

<form action="food-regist" method="post" enctype="multipart/form-data">


  국가 선택 :
  <select name="country" >
    <option value="none">=== 선택 ===</option>
    <option value="한국">한국</option>
    <option value="대만">대만</option>
    <option value="독일">독일</option>
    <option value="말레이시아">말레이시아</option>
    <option value="미국">미국</option>
    <option value="베트남">베트남</option>
    <option value="벨기에">벨기에</option>
    <option value="스웨덴">스웨덴</option>
    <option value="스위스">스위스</option>
    <option value="영국">영국</option>
    <option value="이탈리아">이탈리아</option>
    <option value="인도">인도</option>
    <option value="일본">일본</option>
    <option value="캐나다">캐나다</option>
    <option value="태국">태국</option>
    <option value="튀르키예">튀르키예</option>
    <option value="폴란드">폴란드</option>
    <option value="프랑스">프랑스</option>
    <option value="필리핀">필리핀</option>
    <option value="호주">호주</option>
  </select>

  식품 유형 선택 :
  <select name="foodType">
    <option value="none">=== 선택 ===</option>
    <option value="과자">과자</option>
    <option value="빵">빵</option>
    <option value="사탕">사탕</option>
    <option value="음료">음료</option>
    <option value="젤리">젤리</option>
    <option value="초콜릿">초콜릿</option>
    <option value="커피">커피</option>
    <option value="차">차</option>
  </select>

  <br>

  식품명 입력 : <input type="text" name="foodName" required>

  가격 입력 : <input type="text" name="foodPrice" required>

  파일 : <input type="file" name="registPic"><br>

  <input type="submit">
  <button type="submit" name="수정" onclick="location.href='/member/main'"></button>

</form>





</body>
</html>