<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/ba60aefbce.js" crossorigin="anonymous"></script>
</head>
<body>
  <th:block th:insert="~{common/header}" />
  <div class="flex flex-row">
      <div class="basis-4/12"></div>
      <div class="basis-4/12 justify-items-center">
          <div>
              <h1 class="px-1 pt-6 mb-4 text-7xl tracking-tight font-extrabold lg:text-3xl text-blue-600">
                  TOP10 SNACKS
              </h1>
              <ul class="flex flex-wrap items-center text-sm font-medium text-center text-gray-500 md:max-w-xl border-b border-gray-200">
                  <li class="mr-2">
                      <a th:href="@{/(country=한국)}" th:classappend="${ country } == '한국'? 'bg-gray-100 text-blue-600 active': 'bg-primary-100'" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50"><i class="fa-solid fa-flag"></i> 한국</a>
                  </li>
                  <li class="mr-2">
                      <a th:href="@{/(country=일본)}" th:classappend="${ country } == '일본'? 'bg-gray-100 text-blue-600 active': 'bg-primary-100'" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50"><i class="fa-solid fa-flag"></i> 일본</a>
                  </li>
                  <li class="mr-2">
                      <a th:href="@{/(country=미국)}" th:classappend="${ country } == '미국'? 'bg-gray-100 text-blue-600 active': 'bg-primary-100'" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50"><i class="fa-solid fa-flag"></i> 미국</a>
                  </li>
                  <li class="mr-2">
                      <a th:href="@{/(country=대만)}" th:classappend="${ country } == '대만'? 'bg-gray-100 text-blue-600 active': 'bg-primary-100'" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50"><i class="fa-solid fa-flag"></i> 대만</a>
                  </li>
                  <li class="mr-2">
                      <a th:href="@{/(country=베트남)}" th:classappend="${ country } == '베트남'? 'bg-gray-100 text-blue-600 active': 'bg-primary-100'" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50"><i class="fa-solid fa-flag"></i> 베트남</a>
                  </li>
              </ul>
          </div>
      <div th:each="record, index : ${ record }">
          <a th:href="@{/selectReviews(foodName=${ record.foodName }, country=${ record.country }, foodNo=${ record.foodNo })}" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100">
              <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" th:src="${ record.foodImageUrl }" alt="">
              <div class="flex flex-col justify-between p-4 leading-normal">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900" th:text="${ index.count }+ '.' + ${ record.foodName }"></h5>
                  <div class="flex items-center">
                      <svg id="1star" th:classappend="${ record.foodRate >= 1.0 }? 'text-yellow-300': 'text-gray-300'" class="w-4 h-4 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                          <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                      </svg>
                      <svg id="2star" th:classappend="${ record.foodRate >= 2.0 }? 'text-yellow-300': 'text-gray-300'" class="w-4 h-4 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                          <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                      </svg>
                      <svg id="3star" th:classappend="${ record.foodRate >= 3.0 }? 'text-yellow-300': 'text-gray-300'" class="w-4 h-4 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                          <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                      </svg>
                      <svg id="4star" th:classappend="${ record.foodRate >= 4.0 }? 'text-yellow-300': 'text-gray-300'" class="w-4 h-4 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                          <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                      </svg>
                      <svg id="5star" th:classappend="${ record.foodRate >= 5.0 }? 'text-yellow-300': 'text-gray-300'" class="w-4 h-4 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                          <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                      </svg>
                      <p class="ml-2 text-sm font-medium text-gray-500  " th:text="${ record.foodRate } + ' out of 5'"></p>
                  </div>
              </div>
          </a>
      </div>
      </div>
      <div class="basis-4/12"></div>
  </div>
  <script>
    const result = '[[${ result }]]';

    if(result) {
        alert(result);
    }
</script>
</body>
</html>