<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>신고 페이지</title>
</head>
<body>
    <h3>임시</h3>
    <form action="report" method="post">
        <input type="number" name="report_member_no" placeholder="신고자 번호">
        <input type="number" name="reported_member_no" placeholder="피신고자 번호">
        <input type="number" name="review_no" placeholder="리뷰 번호">
        <input type="number" name="report_type" placeholder="신고 유형">
        <input type="submit" value="신고하기">
    </form>
</body>
</html>