<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CACAMUCA</title>

    <link rel="stylesheet" th:href="@{/css/fonts.css}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
    <style>
        #successAlert {
            position: fixed;
            top: 1rem;
            left: 50%;
            transform: translateX(-50%);
            z-index: 9999;
        }

        #reportButton {
            position: fixed;
            top: 1rem;
            left: 50%;
            transform: translateX(-50%);
        }
    </style>

</head>
<body>
    <div id="successAlert" class="hidden flex items-center p-4 mb-4 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50         " role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Success</span>
        <div>
            <span class="font-medium">Success alert!</span> Change a few things up and try submitting again.
        </div>
    </div>

    <button type="button" id="reportButton" onclick="showModal('modal')" class="py-2 px-4 bg-blue-500 text-white  rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
        신고하기
    </button>

    <div id="modal" tabindex="-1" class="z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-md max-h-full">
            <div class="relative bg-white rounded-lg shadow   ">
                <button type="button" onclick="hideModal('modal')" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center      " data-modal-hide="modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>

                <div class="px-6 py-4 border-b rounded-t   ">
                    <h3 class="text-base font-semibold text-gray-900 lg:text-xl   ">
                        리뷰 신고하기
                    </h3>
                </div>

                <div class="p-6">
                    <p class="text-sm font-normal text-gray-500   ">까까무까를 이용해주셔서 감사합니다!</p>
                    <p class="text-sm font-normal text-gray-500   ">이 리뷰를 신고하는 이유를 선택해주세요.</p>

                    <ul id="reportForm" class="my-4 space-y-3">
                        <li>
                            <label class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow         ">
                                <input type="radio" name="report_type" value="1">&nbsp;폭력적 또는 혐오스러운 리뷰
                            </label>
                        </li>
                        <li>
                            <label class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow         ">
                                <input type="radio" name="report_type" value="2">&nbsp;스팸 또는 광고성 리뷰
                            </label>
                        </li>
                        <li>
                            <label class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow         ">
                                <input type="radio" name="report_type" value="3">&nbsp;타인을 비방하는 리뷰
                            </label>
                        </li>
                        <li>
                            <label class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow         ">
                                <input type="radio" name="report_type" value="4">&nbsp;악의적인 리뷰
                            </label>
                        </li>
                    </ul>
                    <button type="button" onclick="submitReport()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center         ">
                        신고 제출
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function showModal(id) {
            const modal = document.getElementById(id);
            modal.classList.remove('hidden');
        }

        function hideModal(id) {
            const modal = document.getElementById(id);
            modal.classList.add('hidden');
        }

        function submitReport() {
            const form = document.getElementById('reportForm');
            const reportTypeValue = form.querySelector('input[name="report_type"]:checked').value;

            const data = {
                reportType: reportTypeValue,
                reportedMemberNo: 2,
                reviewNo: 1,
            };

            axios.post("/report", data)
                .then(response => {
                console.log('Report submitted successfully!');

                const successAlert = document.getElementById('successAlert');
                successAlert.classList.remove('hidden');
                hideModal('modal');

                setTimeout(() => {
                    successAlert.classList.add('hidden');
                }, 1000);
            }).catch(error => {
                console.error('Failed to submit report.', error);
                hideModal('modal');
            });
        }

    </script>
</body>
</html>
