<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 요청 조회</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/css/fonts.css}" />
    <style>
        .body {
            padding-top: 40px;
            padding-left: 400px;
        }
        .nav {
            padding-top: 30px;
        }

    </style>
</head>

<body>
<th:block th:insert="~{common/adminHeader}" />
<th:block th:insert="~{common/adminAside}" />

<div class="body">
<table class="w-3/4 text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
    <tr>
        <th scope="col" class="px-6 py-3">REQUEST NO</th>
        <th scope="col" class="px-6 py-3">MEMBER NO</th>
        <th scope="col" class="px-6 py-3">COUNTRY</th>
        <th scope="col" class="px-6 py-3">FOOD TYPE</th>
        <th scope="col" class="px-6 py-3">NAME</th>
        <th scope="col" class="px-6 py-3">PRICE</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="list : ${requestPage}" scope="col" class="px-6 py-3">
        <th scope="row" class="px-6 py-4" th:text="${list.requestNo}"/></th>
        <th scope="row" class="px-6 py-4" th:text="${list.requestMemberNo}"/></th>
        <th scope="row" class="px-6 py-4" th:text="${list.requestCountry}"/></th>
        <th scope="row" class="px-6 py-4" th:text="${list.requestFoodType}"/></th>
        <th scope="row" class="px-6 py-4" th:text="${list.requestFood}"/></th>
        <th scope="row" class="px-6 py-4" th:text="${list.requestPrice}"/></th>
        <th></th>
        <th></th>
        <th>
            <a th:href="@{/request-list/view/{requestNo}(requestNo=${list.requestNo})}" class="font-medium text-blue-600 hover:underline text-center">상세보기</a>
        </th>
        <th>
            <button th:onclick="'showAlert(' + ${list.requestNo} + ')'" class="font-medium text-blue-600 hover:underline text-center">삭제</button>
        </th>
    </tr>
    </tbody>

</table>


<div class="nav">
    <nav class="w-3/4 flex items-center justify-between pt-4" aria-label="Table navigation" >
            <span class="text-sm font-normal text-gray-500 dark:text-gray-400 ml-10 mb-15">Showing
                <span class="font-semibold text-gray-900 dark:text-white" th:text="${requestPage.getPageable().getOffset()} + 1" /> -
                <span class="font-semibold text-gray-900 dark:text-white" th:text="${ requestPage.getPageable().offset} + ${requestPage.getNumberOfElements()}" /> of
                <span class="font-semibold text-gray-900 dark:text-white" th:text="${ requestPage.getTotalElements()}" />
            </span>
        <ul class="inline-flex -space-x-px text-sm h-8">
            <li>
                <a id="previousButton" href="" class="flex items-center justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700">이전</a>
            </li>
            <li>
                <a id="page1Button" href="" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"></a>
            </li>
            <li>
                <a id="page2Button" href="" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"></a>
            </li>
            <li>
                <a id="page3Button" href="" aria-current="page"  class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"></a>
            </li>
            <li>
                <a id="page4Button" href="" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"></a>
            </li>
            <li>
                <a id="page5Button" href="" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"></a>
            </li>
            <li>
                <a id="nextButton" href="" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700">다음</a>
            </li>
        </ul>
        <span class="text-sm font-normal text-gray-500 dark:text-gray-400 mr-10"> total pages :
                <span class="font-semibold text-gray-900 dark:text-white" th:text="${ requestPage.getTotalPages()}" id="totalPages"/>
            </span>
    </nav>
</div>
</div>
<script>
    function showAlert(requestNo) {
        const result = confirm("삭제하시겠습니까? 삭제 시 복구 불가능합니다.");
        if (result) {
            window.location.href = `/request-list/delete/${requestNo}`;
        }
    }

    const urlParams = new URLSearchParams(window.location.search);
    const currentPage = parseInt(urlParams.get('page') || 0);
    const totalPagesInt = parseInt(document.getElementById('totalPages').innerText) - 1;
    const pageButtons = document.querySelectorAll('[id^="page"]');

    pageButtons.forEach((button, index) => {
        const pageNumber = currentPage - 2 + index;

        button.href = `/request-list?page=${pageNumber}`;
        button.innerText = pageNumber + 1;

        if (pageNumber === currentPage) {
            button.style.backgroundColor = '#C3DDFD';
        }

        if (pageNumber < 0 || pageNumber > totalPagesInt) {
            button.style.display = 'none';
        }
    });

    const previousButton = document.getElementById('previousButton');
    const nextButton = document.getElementById('nextButton');

    previousButton.href = `/request-list?page=${currentPage - 1}`;
    previousButton.style.pointerEvents = currentPage === 0 ? 'none' : 'auto';
    nextButton.href = `/request-list?page=${currentPage + 1}`;
    nextButton.style.pointerEvents = currentPage === totalPagesInt ? 'none' : 'auto';

</script>

</body>
</html>


