<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 요청 조회</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        table {
            position: relative;
            top: 30px;
        }
        .search {
            position: relative;
            top: 20px;
            left: 40px;
        }

    </style>
</head>

<body>
<th:block th:insert="~{common/header}" />
<!--<div class="search">-->
<!--    <div class="pb-4 bg-white dark:bg-gray-900">-->
<!--        <label for="table-search" class="sr-only">Search</label>-->
<!--        <div class="relative mt-1">-->
<!--            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">-->
<!--                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">-->
<!--                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>-->
<!--                </svg>-->
<!--            </div>-->
<!--            <input type="text" id="table-search" class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Seach for Snacks">-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="h-96 relative overflow-x-auto shadow-md sm:rounded-lg m-10">-->
<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
        <th scope="col" class="px-6 py-3">REQUEST NO</th>
        <th scope="col" class="px-6 py-3">MEMBER NO</th>
        <th scope="col" class="px-6 py-3">COUNTRY</th>
        <th scope="col" class="px-6 py-3">FOOD TYPE</th>
        <th scope="col" class="px-6 py-3">NAME</th>
        <th scope="col" class="px-6 py-3">PRICE</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="list : ${requestPage}" scope="col" class="px-6 py-3">
        <th scope="row" class="px-6 py-4" th:text="${list.requestNo}"/></th>
        <th scope="row" class="px-6 py-4" th:text="${list.requestMemberNo}"/></th>
        <th scope="row" class="px-6 py-4" th:text="${list.requestCountry}"/></th>
        <th scope="row" class="px-6 py-4" th:text="${list.requestFoodType}"/></th>
        <th scope="row" class="px-6 py-4" th:text="${list.requestFood}"/></th>
        <th scope="row" class="px-6 py-4" th:text="${list.requestPrice}"/></th>
        <th></th>
        <th></th>
        <th>
            <a th:href="@{/request-list/view/{requestNo}(requestNo=${list.requestNo})}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline text-center">상세보기</a>
        </th>
        <th>
            <a th:href="@{/request-list/delete/{requestNo}(requestNo=${list.requestNo})}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline text-center">삭제</a>
        </th>
    </tr>
    </tbody>

</table>
<!--</div>-->

<nav style="text-align: center;">
    <ul class="pagination"
        th:with="start=${T(java.lang.Math).floor(requestPage.number/10)*10 + 1},
                    last=(${start + 9 < requestPage.totalPages ? start + 9 : requestPage.totalPages})">
        <th:block th:with="
                firstAddr=@{/request-list(page=1)},
                prevAddr=@{/request-list(page=${requestPage.number})},
                nextAddr=@{/request-list(page=${requestPage.number + 2})},
                lastAddr=@{/request-list(page=${requestPage.totalPages})}">
            <li>
                <a th:href="${firstAddr}" aria-label="First">
                    <span aria-hidden="true">First</span>
                </a>
            </li>
            <!-- 이전 페이지로 가기 버튼 -->
            <li th:class="${requestPage.first} ? 'disabled'">
                <a th:href="${requestPage.first} ? '#' :${prevAddr}"
                   aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            <!--1,2,3,4,.. 등 페이지-->
            <li th:each="page: ${#numbers.sequence(start, last)}"
                th:class="${page == requestPage.number + 1} ? 'active'">
                <a th:text="${page}" th:href="@{/request-list(page=${page})}"></a>
            </li>
            <!--다음 페이지로 -->
            <li th:class="${requestPage.last} ? 'disabled'">
                <a th:href="${requestPage.last} ? '#' : ${nextAddr}"
                   aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <!--맨 마지막 페이지로 이동 -->
            <li>
                <a th:href="${lastAddr}" aria-label="Last">
                    <span aria-hidden="true">Last</span>
                </a>
            </li>
        </th:block>
    </ul>
</nav>


</body>
</html>