<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 요청 조회</title>
    <th:block th:insert="~{common/header}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        table {
            position: relative;
            top: 30px;
            font-family: arial, sans-serif;
        }
        .search {
            position: relative;
            top: 20px;
            left: 10px;
        }

    </style>
</head>
<body>
<div class="search">
    <div class="pb-4 bg-white dark:bg-gray-900">
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative mt-1">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="text" id="table-search" class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Seach for Snacks">
        </div>
    </div>
</div>

<table  class="w-full text-sm text-left text-gray-500 dark:text-gray-400 text-center">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 text-center">
    <tr>
        <th>REQUEST NO</th>
        <th>MEMBER NO</th>
        <th>COUNTRY</th>
        <th>FOOD TYPE</th>
        <th>NAME</th>
        <th>PRICE</th>
<!--        <th>CONTENT</th>-->
        <th scope="col" class="px-6 py-3">
            <span class="sr-only">Edit</span>
        </th>
    </tr>
    </thead>

    <tr th:each="list : ${requestList}" scope="col" class="px-6 py-3 text-center">
        <td><span th:text="${list.requestNo}"/></td>
        <td><span th:text="${list.requestMemberNo}"/></td>
        <td><span th:text="${list.requestCountry}"/></td>
        <td><span th:text="${list.requestFoodType}"/></td>
        <td><span th:text="${list.requestFood}"/></td>
        <td><span th:text="${list.requestPrice}"/></td>
<!--        <td><span th:text="${list.requestContent}"/></td>-->
        <td class="px-6 py-4">
            <a th:href="@{/request-list/view/{requestNo}(requestNo=${list.requestNo})}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline text-center">상세보기</a>
            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline text-center">삭제</a>
        </td>
    </tr>
</table>

</body>
</html>