<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .rating_box {
            display: flex;
        }

        .rating {
            position: relative;
            color: #ddd;
            font-size: 30px;
            text-align: center;
        }

        .rating input {
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }

        .rating_star {
            width: 0;
            color: #ffc107;
            position: absolute;
            left: 0;
            right: 0;
            overflow: hidden;
            pointer-events: none;
        }

        #reviewContents {
            width: 100%;
            height: 150px;
            padding: 10px;
            box-sizing: border-box;
            border: solid 1.5px #D3D3D3;
            border-radius: 5px;
            font-size: 16px;
            resize: none;
        }

        .preview-image {
            width: 200px;
            height: auto;
            margin: 10px;
        }


         .review {
             position: relative;
             top: 80px;
             left: 250px;
         }
    </style>

    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<th:block th:insert="~{common/header}" />


<form action="review" method="post" enctype="multipart/form-data" class="review">
    <select name="country" id="country"  class="w-55 gap-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option value="none">국가 선택</option>
        <option value="한국">한국</option>
        <option value="일본">일본</option>
        <option value="미국">미국</option>
        <option value="영국">영국</option>
        <option value="베트남">베트남</option>
        <option value="태국">태국</option>
        <option value="프랑스">프랑스</option>
        <option value="이탈리아">이탈리아</option>
        <option value="튀르키예">튀르키예</option>
        <option value="중국">중국</option>
        <option value="몽골">몽골</option>
    </select>

    <select name="foodType" id="foodType" onchange="checkValue(this.value)" class="w-55 gap-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option value="none">종류 선택</option>
        <option value="과자">과자</option>
        <option value="차">차</option>
        <option value="커피">커피</option>
        <option value="음료">음료</option>
        <option value="빵">빵</option>
        <option value="젤리">젤리</option>
        <option value="초콜릿">초콜릿</option>
        <option value="사탕">사탕</option>
    </select>

    <select name="reviewKeyword"  class="w-55 gap-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option value="none">키워드 선택</option>
        <option value="가성비">가성비</option>
        <option value="개별포장">개별포장</option>
        <option value="선물하기좋은">선물하기좋은</option>
        <option value="증정품포함">증정품포함</option>
    </select>

    <select name="foodName" id="foodName" class="w-55 gap-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option value="none">식품 선택</option>
    </select>

<!--    <input type="text" name="foodName" placeholder="식품 이름을 입력해주세요"  class="w-64 gap-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">-->

    <input type="number" name="reviewPrice" placeholder="식품 가격을 입력해주세요"  class="w-64 gap-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

    <input type="text" name="reviewLink" placeholder="구매한 링크를 입력해주세요"  class="w-64 gap-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

    <div class="rating_box">
        <div class="rating">
            ★★★★★
            <span class="rating_star">★★★★★</span>
            <input type="range" name="reviewRate" value="1" step="1" min="0" max="10">
        </div>
    </div>

    <div class="absolute top-20 left-0 w-3/4 mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
        <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
            <textarea name="reviewContent" id="reviewContent" cols="" rows="10" class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder="과자에 대한 설명을 적어주세요!" required></textarea>
        </div>
        <div class="flex items-center justify-between px-3 py-2 border-t dark:border-gray-600">
            <button type="submit" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                글 쓰기
            </button>
            <input type="file" multiple="multiple" name="reviewPicUrl" onchange="previewImages(event)" >
        </div>

        <div class="absolute top-450 left-0 w-3/4 mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
            <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
                <div id="preview-container"></div>
            </div>
        </div>

    </div>
</form>




<script>
    const rating_input = document.querySelector('.rating input');
    const rating_star = document.querySelector('.rating_star');

    // 별점 드래그 할 때
    rating_input.addEventListener('input', () => {
        rating_star.style.width = `${rating_input.value * 10}%`;
    });

    function previewImages(event) {
        var previewContainer = document.getElementById('preview-container');
        var files = event.target.files;
        previewContainer.style.display = "block";

        previewContainer.innerHTML = '';
        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            var reader = new FileReader();

            reader.onload = function (event) {
                var imageUrl = event.target.result;
                var imageElement = document.createElement('img');

                imageElement.src = imageUrl;
                imageElement.classList.add('preview-image');

                previewContainer.appendChild(imageElement);
            }

            reader.readAsDataURL(file);
        }
    }
</script>
<script>
    var country = document.getElementById('country');
    var foodNameSelect = document.getElementById('foodName');
    function checkValue(value) {
        var clickCountry = country.options[country.selectedIndex];

        console.log(value);
        console.log(clickCountry.value);

        axios({
            method: 'post',
            url: '/review/checkValue',
            data: {
                foodType: value,
                country: clickCountry.value
            }
        }).then(function (response) {
            var foodNames = response.data;

            foodNames.forEach(function (foodName){
                var option = document.createElement('option');
                option.value = foodName;
                option.text = foodName;
                foodNameSelect.appendChild(option);
            });

        }).catch(function (error){
            console.log(error)
        });
    }
</script>
</body>
</html>