<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goalapa.cacamuca.reportDomain.query.domain.repository.BlackListMapper">
    <resultMap id="blackListResultMap" type="com.goalapa.cacamuca.reportDomain.query.application.dto.BlackListQueryDTO" >
        <id property="blackListNo" column="blacklist_no" />
        <result property="blackListRegDate" column="blacklist_reg_date"/>
        <result property="blackListRelDate" column="blacklist_rel_date"/>
        <result property="memberNo" column="member_no"/>
        <result property="memberId" column="member_id"/>
    </resultMap>

    <select id="getBlackListPage" resultMap="blackListResultMap" parameterType="map">
            SELECT b.blacklist_no, b.blacklist_reg_date,
                   b.blacklist_rel_date,
                   m.member_no, m.member_id
            FROM blacklist b
            LEFT JOIN member m ON b.member_no = m.member_no
            ORDER BY b.blacklist_rel_date, b.blacklist_reg_date
            LIMIT ${ offset }, ${ pageSize }
    </select>

    <select id="getTotalItems" resultType="_int">
        SELECT COUNT(b.blacklist_no)
        FROM blacklist b
    </select>
</mapper>