<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goalapa.cacamuca.memberDomain.query.domain.repository.MemberMapper">
    <resultMap id="memberResultMap" type="com.goalapa.cacamuca.memberDomain.query.domain.aggregate.entity.Member">
        <id property="memberNo" column="member_no" />
        <result property="memberId" column="member_id" />
        <result property="memberPwd" column="member_pwd" />
        <result property="memberNickname" column="member_nickname" />
        <result property="memberBirth" column="member_birth" />
        <result property="memberCountry" column="member_country" />
        <result property="memberEmail" column="member_email" />
        <result property="memberGrant" column="member_grant" />
        <result property="memberGender" column="member_gender" />
        <result property="memberReportCnt" column="member_report_cnt" />
    </resultMap>

    <select id="findByMemberId" parameterType="string" resultMap="memberResultMap">
        SELECT <!-- com.goalapa.cacamuca.memberDomain.query.domain.repository.MemberMapper -->
               *
          FROM member m
         WHERE m.member_id = #{ memberId }
    </select>

    <select id="getMember" parameterType="string" resultMap="memberResultMap">
        SELECT <!-- com.goalapa.cacamuca.memberDomain.query.domain.repository.MemberMapper -->
               m.member_no
             , m.member_id
             , m.member_nickname
             , m.member_country
             , m.member_birth
             , m.member_email
          FROM member m
         WHERE m.member_id = #{ memberId }
    </select>

    <select id="findByMemberEmail" parameterType="string" resultMap="memberResultMap">
        SELECT <!-- com.goalapa.cacamuca.memberDomain.query.domain.repository.MemberMapper -->
               *
          FROM member m
         WHERE m.member_email = #{ memberEmail }
    </select>

    <select id="findMembers" parameterType="map" resultMap="memberResultMap">
        SELECT <!-- com.goalapa.cacamuca.memberDomain.query.domain.repository.MemberMapper -->
                m.member_no
              , m.member_id
              , m.member_nickname
              , m.member_country
              , m.member_birth
              , m.member_gender
              , m.member_email
          FROM member m
        <where>
            m.member_grant = "ROLE_MEMBER"
        </where>
        <if test="sort.sorted">
            <trim prefix="order by">
                <foreach item="order" index="i" collection="sort" separator=", ">
                    ${order.property} ${order.direction}
                </foreach>
            </trim>
        </if>
        <if test="size and offset">
            LIMIT #{ size }
            OFFSET #{ offset }
        </if>
    </select>

    <select id="countMembers" resultType="_int">
        SELECT <!-- com.goalapa.cacamuca.memberDomain.query.domain.repository.MemberMapper -->
             COUNT(m.member_no)
        FROM member m
        WHERE m.member_grant = "ROLE_MEMBER"
    </select>

    <insert id="insertMember">
        INSERT
          INTO member(member_id,member_pwd,member_nickname,member_email,member_grant,member_report_cnt,member_birth,member_country)
        VALUES(#{memberId},#{memberPwd},#{memberNickname},#{memberEmail},#{memberGrant},#{memberReportCnt},#{memberBirth},#{memberCountry})
    </insert>
</mapper>