<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goalapa.cacamuca.reviewDomain.query.domain.repository.ReviewMapper">
    <resultMap id="reviewResultMap" type="com.goalapa.cacamuca.reviewDomain.query.application.dto.QueryReviewDTO">
        <result property="reviewNo" column="review_no"/>
        <result property="country" column="country"/>
        <result property="foodNo" column="food_no"/>
        <result property="foodName" column="food_name"/>
        <result property="foodType" column="food_type"/>
        <result property="likeCnt" column="like_cnt"/>
        <result property="reportCnt" column="report_cnt"/>
        <result property="memberNo" column="member_no"/>
        <result property="reviewContent" column="review_content"/>
        <result property="reviewDate" column="review_date"/>
        <result property="reviewKeyword" column="review_keyword"/>
        <result property="reviewLink" column="review_link"/>
        <result property="reviewPrice" column="review_price"/>
        <result property="reviewRate" column="review_rate"/>
    </resultMap>

    <resultMap id="reviewPicResultMap" type="com.goalapa.cacamuca.reviewDomain.query.application.dto.QueryReviewPicDTO">
        <result property="reviewPicNo" column="review_pic_no"/>
        <result property="reviewNo" column="review_no"/>
        <result property="reviewPicUrl" column="review_pic_url"/>
    </resultMap>

    <resultMap id="reviewWriterResultMap" type="com.goalapa.cacamuca.reviewDomain.query.application.dto.QueryReviewWriterDTO">
        <id property="reviewNo" column="review_no"/>
        <result property="memberId" column="member_id"/>
        <result property="memberName" column="member_nickname"/>
    </resultMap>

    <resultMap id="reviewFoodDResultMap" type="com.goalapa.cacamuca.reviewDomain.query.application.dto.QueryReviewFoodDTO">
        <id property="foodNo" column="food_no"/>
        <result property="foodName" column="food_name"/>
        <result property="country" column="country"/>
        <result property="foodType" column="food_type"/>
    </resultMap>

    <resultMap id="bestReviewResultMap" type="com.goalapa.cacamuca.statDomain.query.application.dto.QueryStatDTO">
        <id property="statNo" column="STAT_NO"/>
        <result property="updateDate" column="UPDATE_DATE"/>
        <result property="foodNo" column="FOOD_NO"/>
        <result property="reviewCnt" column="REVIEW_CNT"/>
        <result property="foodRate" column="FOOD_RATE"/>
        <result property="likeCnt" column="LIKE_CNT"/>
        <result property="memberAgeGroup" column="MEMBER_AGE_GROUP"/>
        <result property="memberGender" column="MEMBER_GENDER"/>
    </resultMap>

    <!-- 목록 출력(나라, 이름) -->
    <select id="findAllReviews" resultMap="reviewResultMap">
        SELECT r.review_no, r.member_no, r.food_name, r.review_date, r.review_price, r.review_rate, r.review_content, r.country,
               r.review_keyword, r.like_cnt
        FROM review r
        WHERE r.food_name = #{ foodName } and r.country = #{ country }
        order by r.review_no desc
    </select>

    <select id="findAllPictures" resultMap="reviewPicResultMap">
        SELECT p.review_pic_url, p.review_no
        FROM review_pic p, review r
        WHERE r.food_name = #{ foodName } and r.country = #{ country } and p.review_no = r.review_no
    </select>

    <select id="findReviewWriter" resultMap="reviewWriterResultMap">
        select r.review_no , m.member_id, m.member_nickname
        from review r, member m
        where r.food_name = #{ foodName } and r.country = #{ country} and r.member_no = m.member_no
    </select>

    <select id="findBestReviewByFoodNo" resultMap="bestReviewResultMap">
        select s.food_rate, s.like_cnt, s.review_cnt
        from stat s
        where s.food_no = #{ foodNo }
    </select>

    <select id="findRecentPrice" resultMap="reviewResultMap">
        SELECT r.review_price
        FROM review r
        WHERE r.food_name = #{ foodName } AND r.country = #{ country }
        ORDER BY r.review_date DESC
        LIMIT 1;
    </select>

    <!-- 마이 페이지 -->
    <select id="findMyReviewByMemberNo" resultMap="reviewResultMap">
        select *
        from review r
        where r.member_no = #{ loginMemberNo }
        order by r.review_no desc
    </select>

    <!-- 검색 -->
    <select id="findAllReviewsByName" resultMap="reviewResultMap">
        select r.review_no, r.member_no, r.food_name, r.review_date, r.review_price, r.review_rate,  r.review_content, r.review_keyword, r.like_cnt
        from review r
        where r.food_name like '%${ search }%'
        order by r.review_no desc
    </select>

    <select id="findSearchPictures" resultMap="reviewPicResultMap">
        SELECT p.review_pic_url, p.review_no
        FROM review_pic p, review r
        WHERE r.food_name = #{ search } and p.review_no = r.review_no
    </select>

    <select id="findReviewWriterBySearch" resultMap="reviewWriterResultMap">
        select r.review_no , m.member_id, m.member_nickname
        from review r, member m
        where r.food_name = #{ search } and r.member_no = m.member_no
    </select>


    <!-- 상세 보기 -->
    <select id="findReviewByNo" resultMap="reviewResultMap">
        SELECT r.review_no, r.country, r.food_name, r.food_no, r.food_type, r.like_cnt, r.member_no,
               r.review_date, r.review_content, r.review_keyword, r.review_link,
               r.review_price, r.review_rate
        FROM review r
        WHERE r.review_no = #{ no }
    </select>

    <select id="findReviewWriterByReviewNo" resultMap="reviewWriterResultMap">
        select r.review_no , m.member_id, m.member_nickname
        from review r, member m
        where r.review_no = #{ no } and r.member_no = m.member_no
    </select>

    <select id="findReviewPicByNo" resultMap="reviewPicResultMap">
        select p.review_pic_url
        from review_pic p
        where p.review_no = #{ no }
    </select>


    <!-- 리뷰 작성 -->
    <select id="findFoodNameByCountryAndFoodType" resultMap="reviewFoodDResultMap">
        select f.food_name
        from food f
        where f.country = #{ country } and f.food_type = #{ foodType }
    </select>

</mapper>